
/* Reset code */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after { clear: both; }


/* My styling goes below */


/* Common styling */
.container {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
ul { list-style-type: none; }
ol { list-style-type: none; }

a {
  display: inline-block;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

/* wrapper style */
.wrapper {
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header section styling*/

header {
  position: relative;
  background: #000;
}

.top-head {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: .7;
  background: #000;
}

.top-head .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1:after {
  margin: 20px;
  color: #8a8f93;
  content: '|';
}

.left-head {
  padding: 14px 0;
  display: flex;
  align-items: center;
}

.left-head p {
  color: #8a8f93;
  font-size: 12px;
}

nav ul { display: flex; }

nav a {
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
}

nav ul li {
  padding: 17px 0;
  border-top: 2px solid transparent;
  margin-left: 25px;
}

nav ul li:first-of-type { margin-left: 0; }

.active-nav { border-top: 2px solid #014a51; }

.banner img {
  width: 100%;
  height: auto;
}

/* Feature section styling*/

.features { background: #f5f6fa; }

.section {
  padding: 64px 0 19px 0;
  text-align: center;
}

.features .slider { background: #f5f6fa; }

.section .wrapper > h2 {
  margin-bottom: 8px;
  color: #06b592;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.features .slider { margin-top: 45px; }

.list {
  display: flex;
  justify-content: space-between;
}

.left-image {
  width: 32%;
  margin-right: 10px;
}

.left-image img {
  width: 100%;
  height: auto;
}

.list li {
  width: 32.33%;
  display: flex;
  text-align: left;
}

.feature-cont h2 {
  margin-bottom: 11px;
  color: #0e1b28;
  font-size: 17px;
  font-weight: bold;
}

.feature-cont p {
  color: #8a8f93;
  font-size: 11px;
  line-height: 14px;
}

.flexslider {
  border: 4px solid #f5f6fa;
  margin-bottom: 10px;
  background: #f5f6fa;
}

.flex-control-nav {
  margin-top: 55px;
  position: relative;
  bottom: auto;
}


.section .wrapper > p {
  width: 71%;
  margin: 0 auto;
  margin-top: 23px;
  color: #8a8f93;
  font-size: 14px;
  font-weight: bold;
}

.tabs {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.tabs a {
  padding: 8px 12px;
  border-radius: 10px;
  color: #0e1b28;
  font-size: 13px;
  font-weight: bold;
}

.tabs a:hover {
  background: #06b592;
  color: #fff;
  text-decoration: none;
}

.tabs li { margin-left: 14px; }

.tabs li:first-of-type { margin-left: 0; }

.tab-active a {
  background: #06b592;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: #06b592;
  transition: .5s ease;
}

.list-item > li:hover .overlay { opacity: .7; }
.list-item > li:hover .overlay-cont { opacity: 1; }

.list-item {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list-item > li img {
  width: 100%;
  height: auto;
}

.list-item > li {
  width: 25%;
  position: relative;
}

.overlay-cont {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 16%;
  opacity: 0;
  color: #fff;
  transform: translateY(-50%);
}

.overlay-cont h2 {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: bold;
}

.overlay-cont p { font-size: 14px; }


.overlay-cont a {
  width: 13%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.overlay-cont a img {
  width: 100%;
  height: auto;
}
